#banner
    .banner_content
        %h1 Notebook
        %p Your online notebook, never forget your ideas again
        %button= link_to "Sign up", new_user_registration_path

#testimonial
    .wrapper
        %p.quote "A good notebook application"
        %p.name - Vickris
        
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p
                    Chia paleo Wes Anderson umami whatever cronut Pitchfork normcore sartorial.
                    Trust fund readymade semiotics, fashion axe four loko pickled messenger bag.
                    Thundercats scenester street art, mumblecore direct trade YOLO ethical tattooed raw denim. Literally paleo bespoke c
            .callout
                %i.fa.fa-rocket
                %h2 Shooot
                %p
                    Chia paleo Wes Anderson umami whatever cronut Pitchfork normcore sartorial.
                    Trust fund readymade semiotics, fashion axe four loko pickled messenger bag.
                    Thundercats scenester street art, mumblecore direct trade YOLO ethical tattooed raw denim. Literally paleo bespoke c
            .callout
                %i.fa.fa-send
                %h2 Yass
                %p
                    Chia paleo Wes Anderson umami whatever cronut Pitchfork normcore sartorial.
                    Trust fund readymade semiotics, fashion axe four loko pickled messenger bag.
                    Thundercats scenester street art, mumblecore direct trade YOLO ethical tattooed raw denim. Literally paleo bespoke c
                    
#bottom_cta
    .wrapper
        %h2 For Realz!
        %p I want you to sign up... If you don’t. I will find you!
        %button= link_to "Click Meee!!!", new_user_registration_path

%footer
    %p &copy; Vickris