!!! 5
%html
%head
  %title Notebook
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{ :rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}/
  = csrf_meta_tags
  
%body

  %header
    .header_inner
      = link_to image_tag('logo.svg'), root_path, id: "logo"
      %nav
        - if user_signed_in?
          = link_to "new_note", new_note_path
          = link_to "sign_out", destroy_user_session_path, method: :delete
        - else
          = link_to "login", new_user_session_path
        
  - flash.each do |name, msg|
    = content_tag :div, msg, class: "notice"
    
  = yield
